[submodule "obs-studio"]
	path = obs-studio
	url = https://github.com/SOOPLIVE/obs-studio.git
[submodule "plugins/soop-spout2/Spout2"]
	path = plugins/soop-spout2/Spout2
	url = https://github.com/leadedge/Spout2.git
